// ----------------------------------------------------------------------
// Layout Breakpoints
// ----------------------------------------------------------------------
$maxWidth: 1440;
$tabletStart: 1024;
$mobileStart: 768;

// ----------------------------------------------------------------------
// Header
// ----------------------------------------------------------------------
$masthead_h: 120px;

// ----------------------------------------------------------------------
// Font Sizes
// ----------------------------------------------------------------------
$title1: 32px;
$title2: 24px;
$title3: 18px;
$title4: 16px;
$title5: 14px;
$title6: 12px;

$regularSize: 14px;

// ----------------------------------------------------------------------
// Font Families
// ----------------------------------------------------------------------
$bootstrapFonts: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// ----------------------------------------------------------------------
// Grid
// ----------------------------------------------------------------------
$grid-columns: 12;

// ----------------------------------------------------------------------
// Colors
// ----------------------------------------------------------------------
$primary: black;
$error: #dc3545;
$success: #198754;