@use '../base/mixins/flatpickr';
@import "../base/variables";

.filter-container {
    .filter-bar {
        padding: 5vh 1vw;
        margin-bottom: 10vh;
        margin-top: 4vh;
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.25rem;

        .search {
            margin-right: 2vw;

            .wrap-input {
                margin: 0;

                &.select {
                    .symbol-input {
                        padding-left: 0;
                    }
                }
            }

            input[name="search-auctions"] {
                border-radius: 25px 0 0 25px;
            }

            input.select {
                border-radius: 0 25px 25px 0;
                padding-left: 25px;
            }
        }

        .date-range-wrap {
            margin-right: 2vw;
            margin-bottom: 0;
        }

        .price {

            .max-price,
            .min-price {
                margin-left: 5px;
            }

            #price_range {
                position: relative;
                z-index: 0;
            }
        }
    }

    .mobile-filter-btn {
        display: none;
    }

    @media (max-width: ($tabletStart + px)) {
        .filter-bar {
            flex-direction: column;
            
            &:not(.visible) {
                display: none !important;
            }

            .search {
                margin-right: 0;
                margin-bottom: 20px;

                .wrap-input:not(.select) {
                    width: 100% !important;
                }
            }

            .date-range-wrap {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        .mobile-filter-btn {
            width: 100%;
            margin-top: 0;
            margin-bottom: 10vh;
            display: flex !important;

            svg {
                width: 25px;
                fill: white;
            }

            &:hover {
                svg {
                    fill: unset;
                }
            }
        }
    }
}




$flatpickr-primary: #666666;
@include flatpickr.flatpickr_dark_support($flatpickr-primary);

.list-auction {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -15px;
    margin-right: -15px;

    @media (max-width: ($tabletStart + px)) {
        & {
            grid-template-columns: 1fr 1fr;
        }
    }

    @media (max-width: ($mobileStart + px)) {
        & {
            grid-template-columns: 1fr;
        }
    }

    &.loading {
        display: flex;
        justify-content: center;
    }

    .no-products {
        text-align: center;
        bottom: -12px;
    }

    article.auctions {
        position: relative;
        display: flex;
        flex-direction: column;
        margin: 15px;
        border: 1px solid rgba(0, 0, 0, .125);
        border-radius: 0.25rem;
        justify-content: space-between;

        .auction-thumbnail {
            max-height: 250px;
            width: 100%;
            object-fit: cover;
            border-top-right-radius: 0.25rem;
            border-top-left-radius: 0.25rem;
            display: block;
        }

        .entry-content {
            padding: 1vh 1vw;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            a:not(.btn) {
                color: black;
            }

            .entry-title {
                a {
                    font-size: 20px;
                    font-weight: 500;
                }
            }

            .date,
            .auction_type {
                display: flex;
                align-items: center;
                margin-bottom: 1vh;
            }

            svg {
                width: 18px;
                height: 15px;
                margin-right: 10px;

                path {
                    fill: #666666;
                }
            }

            .price-info {
                display: flex;
                justify-content: flex-end;
                margin-top: 1vh;
                margin-bottom: 1vh;

                .price-info-row {
                    display: inline-flex;
                    background: #e6e6e6;
                    padding: 6px;
                    border-radius: 4px;

                    .baze_price {
                        display: flex;
                        align-items: center;
                        padding-right: 5px;
                        font-weight: 700;
                    }
                }
            }
        }

        .actions {
            &.d-flex {
                .auction-details {
                    width: 100%;
                    margin-right: 15px;
                }
            }

            .edit-auction,
            .auction-details {
                margin: 1vh 0;
                border-radius: 4px;
            }
        }
    }
}

.archive.post-type-archive {

    .load-more-auctions {
        margin-left: auto;
        margin-right: auto;
    }
}